@font-face
{
	font-family: Anime;
	src: url(a.ttf);
}
div
{
	font: 100% Anime;
}
.wrap
{
	width: 880px;
	margin: 0 auto;
	display: block;
}
.block
{
	display: inline-block;
	margin: 0 10px 10px 10px;
	vertical-align: top;
}
.image
{
	display: block;
	outline: #515151 solid 3px;
	width:200px;
	height:300px;
}
.image:hover
{
	outline: #000000 inset 5px;
}
.caption
{
	display: block;
	text-align: center;
	width: 200px;
	margin-top: 6px;
}
.name
{
	font: bold 120% Anime;
}
.disc
{
	display: inline-block;
	vertical-align: top;
	width: 200px;
	margin-left:10px;
}
#imgs
{
	width: 60%;
	margin: 0 auto;
}
.home
{
	position: fixed;
	top: 10px;
	left: 10px;
	float: left;
}
.control
{
	width:	40px;
	height: auto;
}
